
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(39, 177, 177);
  margin-top: 0;
  font-family:'Times New Roman', Times, serif;
}

main{
  display: flex;
  flex-flow:row;
  background-color: aliceblue;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.section{
  flex-shrink: 2;
  flex-basis: 33%;
}

.flexColumn{
  flex-direction: column;
}


.secPar{
  padding: 5%;
}

.open{
  border: 2px solid;
  text-align: center;
  background-color: aqua;
}

.strike{
  border: 2px solid;
  text-align: center;
  background-color: red;
}

.ToDo{
  text-align: center;
}